.backGround {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #a08a6a;
    height: 100%;
}
.mainImageIcon {
    position: absolute;
    width: 59.09%;
    top: 156px;
    right: 20.45%;
    left: 20.46%;
    max-width: 100%;
    overflow: hidden;
    height: 737px;
    object-fit: cover;
}
.ayumiKimura {
    position: absolute;
    top: 19px;
    left: calc(50% - 154px);
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 60px;
}
.circleRight {
    width: 205px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.43);
    box-sizing: border-box;
    height: 205px;
    z-index: 0;
}
.textAboutImage {
    width: 221px;
    position: relative;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    height: 69px;
    flex-shrink: 0;
    z-index: 1;
    margin-left: -82px;
}
.textPhotographer {
    width: 145px;
    position: absolute;
    margin: 0 !important;
    top: 124px;
    left: 60.16px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: Italiana;
    text-align: center;
    display: inline-block;
    z-index: 2;
}
.imageExplainText {
    height: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imageInfo {
    position: absolute;
    width: 29.95%;
    top: 818px;
    right: 11.78%;
    left: 58.26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.smallCircle {
    width: 93px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.43);
    box-sizing: border-box;
    height: 93px;
}
.leftCircle {
    width: 176px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-sizing: border-box;
    height: 173px;
    margin-left: -82px;
}
.helloImAyumi {
    margin: 0;
}


.aboutMe {
    width: 175.6px;
    position: relative;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    height: 149px;
    flex-shrink: 0;
    margin-left: -82px;
}
.myInfo {
    position: absolute;
    width: 38.75%;
    top: 58px;
    right: 48.27%;
    left: 12.98%;
    height: 246px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tablet {
    width: 100vw;
    position: relative;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: Jaldi;
}